<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% if request.user.is_authenticated %}
            <p>
                {{ request.user.username }}
                {% if request.user.paying %}
                    (PRO user) | <a href="{% url 'favourites' %}">Favourite Locations</a>
                {% else %}
                    | Add <a href="{% url 'payment' %}">payment method</a> and become PRO!
                {% endif %}
            </p>
            <a href="{% url 'signout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signin' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>