<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav>
        <p>
            <a href="/">Home</a> |

        {% if request.user.is_authenticated %}

                {{ request.user.username }}
                {% if request.user.paying %}
                    (PRO user) | <a href="{% url 'favourites' %}">Favourite Locations</a> | <a href="/api/docs">API</a>
                {% else %}
                    | Add <a href="{% url 'payment' %}">payment method</a> and become PRO!
                {% endif %}
            </p>
            <a href="{% url 'signout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signin' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>