{% extends 'front/base.html' %}
{% load static %}
{% block title %}Home - My Site{% endblock %}
{% block content %}
    <form method="get">
        <input type="text" name="query" placeholder="Enter a city name">
        <button type="submit">Search</button>
    </form>
    {% if current_weather %}
        <h1>Aktuální počasí - {{ current_weather.name }}</h1>
        <img src="{% static image_path %}">
        <h2>Počasí text</h2>
        <p>{{ weather.main }} - {{ weather.description }}</p>
        <h2>Teploty</h2>
        <p>Aktuální - {{ current_weather.main.temp }}</p>
        <p>Pocitově - {{ current_weather.main.feels_like }}</p>
        {% if request.user.is_authenticated %}
            {% if not favourite %}
                <form action="{% url 'add_favorite' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="query" value="{{ current_weather.name }}">
                    <input type="hidden" name="latitude" value="{{ coords.lat }}">
                    <input type="hidden" name="longitude" value="{{ coords.lon }}">
                    <button type="submit">Favorite</button>
                </form>
            {% else %}
                <form action="{% url 'remove_favorite' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="query" value="{{ current_weather.name }}">
                    <input type="hidden" name="latitude" value="{{ coords.lat }}">
                    <input type="hidden" name="longitude" value="{{ coords.lon }}">
                    <button type="submit">Unfavorite</button>
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    {% endif %}
{% endblock %}