{% extends 'front/base.html' %}
{% load static %}
{% block title %}Home - My Site{% endblock %}
{% block content %}
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="search_string" placeholder="Enter a city name">
        <button type="submit">Search</button>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    </form>
    {% if current_weather %}
        <h1>Aktuální počasí - {{ current_weather.name }}</h1>
        <img src="{% static image_path %}">
        <h2>Počasí text</h2>
        <p>{{ weather.main }} - {{ weather.description }}</p>
        <h2>Teploty</h2>
        <p>Aktuální - {{ current_weather.main.temp }}</p>
        <p>Pocitově - {{ current_weather.main.feels_like }}</p>
    {% else %}
        <h1>Unlucky</h1>
    {% endif %}
{% endblock %}